/* **************************Defaults****************************** */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

/* *******************************Navigation Bar ******************************** */
nav{
  margin-top: 9.8%;
  width: 980px;
  color: white;
  height: 36px;
  background-image: linear-gradient(#aaa, #444, #aaa);
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 1em;
}
nav .nav-first{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
nav i{
  padding: 5px;
  width: 200px;
  color: white;
  border-right: 1px solid #333;
}
nav a{
  width: 200px;
  color: white;
  font-style: normal;
}

nav i:hover{
  color: white;
  background-color: #666;
}
nav a:hover{
  color: white;
  background-color: #666;
}

nav *:last-child{
  border-right: none;
}
.nav-last {
  margin-top: -36px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#00000000 50%,#ffffff33 50%);
}
/* ********************************Main content************************************* */
main {
  margin: 0 auto;
  background-color: #333;
  background-image: url("images/background.jpg");
  background-position: 0% 100%;
  width: 1440px;
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}

.description {
  padding: 0 200px;
}

.description h1 {
  font-size: 50px;
  font-weight: 50;
}

.description h2 {
  margin: 20px 0;
  font-weight: 100;
  font-size: 35px;
}

.description h3 a {
  text-decoration: none;
  color: white;
}

.promotions {
  margin: 0 auto;
  width: 1440px;
}

.promotions .apple-images {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
}

.apple-images * {
  overflow: hidden; 
  width: 350px;
}


/* ***********************************footer************************************ */
.footer {
  margin: 10px auto;
  width: 980px;
  font-size: 10px;
  color: gray;
}

footer a {
  color: #0b61b3;
}

.footer p {
  margin-bottom: 6px;
}

.upper-footer {
  float: right;
}

.upper-footer i{
  font-style: normal;
  padding-right: 4px;
  border-right: 1px solid lightgray;
}

.upper-footer i:last-child {
  border-right: none;
}